body{
    background-color: #000;
    font-family: Helvetica;
    color: seashell;
    font-size: 22px;
    opacity: 0.9;
}

h1, h2, h3, h4, h5, h6, p {
    text-align: center;
}

a{
    text-decoration: underline;
    color: seashell;
}

nav {
    margin-right: 5%;
}

.header{
    display: flex;
    justify-content: space-between;
    height: 69px;
    border-bottom: 1px solid seashell;
    align-content: center;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

.logo img{
    height: 50px;
    margin-left: 10px;
}

.navegador{
    display: flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
}

.background {
    background-image: url("https://content.codecademy.com/courses/freelance-1/unit-4/img-mission-background.jpg");
    background-repeat: no-repeat;
}